<div id="locationField">
  <input id="autocomplete" placeholder="Enter your address"
         onFocus="geolocate()" type="text"></input>
</div>

<%= form_for :scraper, method: "post" do |f|%>
  <%= f.label "Street address"%>
  <%= f.text_field :street, placeholder: "Street", id: 'route'  %>
  <%= f.label "City" %>
  <%= f.text_field :city, placeholder: "City", id: 'locality' %>
  <%= f.label "Country"%>
  <%= f.text_field :country, placeholder: "Country", id: 'country'  %>
  <%= f.label "Long-term rent"%>
  <%= f.text_field :long_term_rent  %>
  <%= f.submit("Show") %>
<% end %>


<!--autocomplete HTML-->
<input class="invisible" id="route"></input>
<input class="invisible" id="street_number"></input>
<input class="invisible" id="locality"></input>
<input class="invisible" id="administrative_area_level_1"></input>
<input class="invisible" id="country" ></input>

<!--autocomplete script-->
<script src="app/assets/javascripts/autocomplete.js"></script>
<!--googleapis-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyrs9of3ZsEffdTYrjtpR70xWQXk1XSiA&libraries=places&callback=initAutocomplete"
async defer></script>
